@model Model.EF.Banner

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section css{
    <style>
        .img-custom {
            width: 200px;
        }
    </style>
}
@section header{
    Chi tiết banner @Model.Title
}

<div>
    <hr />
    <table class="table table-striped">
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.Type)</th>
            <td>@Html.DisplayFor(model => model.BannerGroup.Title)</td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.Title)</th>
            <td>@Html.DisplayFor(model => model.Title)</td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.Link)</th>
            <td>@Html.DisplayFor(model => model.Link)</td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.Status)</th>
            <td>
                @{
                    if (Model.Status == true)
                    {
                        <span class="badge badge-pill badge-success">Hiển thị</span>
                    }
                    else
                    {
                        <span class="badge badge-pill badge-danger">Không hiển thị</span>
                    }
                }
            </td>
        </tr>

        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.Image)</th>
            <td><img class="img-fluid img-custom" src="@Html.DisplayFor(model => model.Image)" alt=""></td>
        </tr>
    </table>
    <hr />
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", null, new { id = Model.ID }, new { @class = "btn btn-primary btn-icon-split btn-padding" }) |
    @Html.ActionLink("Trở lại", "Index", null, new { @class = "btn btn-secondary btn-icon-split btn-padding" })
</p>